{% extends 'base_layout.html' %}
{% block content %}
<h1>User Details</h1>
<div class="search">
    <form action="{% url 'record:user_details' %}" method='POST'>
        {% csrf_token %}
        <label for="search">Filter by disease:</label>
        <select name="disease_options">
            <option value="" class="filter-input">All</option>
            {% for disease in diseases %}
            <option value="{{disease}}" class="filter-input">{{ disease.disease_name|upper }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Apply">
    </form>
</div>
<div class="site-table">
    <table>
        <tr>
            <th>
                Users
            </th>
            <th>
                Gender
            </th>
            <th>
                Blood Group
            </th>
            <th>
                Genotype
            </th>
            <th>
                Diseases
            </th>
            <th>
                Surgeries
            </th>
            <th>
                Vaccinations
            </th>
            <th>
                Allergies
            </th>
            <th>
                Medications
            </th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.user.lastName }} {{patient.user.firstName}}</td>
            <td>{{ patient.user.gender }}</td>
            <td>{{ patient.medicalhistory.bloodgroup }}</td>
            <td>{{ patient.medicalhistory.genotype }}</td>
            <td>{% for disease in patient.medicalhistory.disease_set.all %}
                {{ disease.disease_name }}
                {% endfor %}
            </td>
            <td>{% for surgery in patient.medicalhistory.surgery_set.all %}
                {{ surgery.surgery_name }}
                {% endfor %}
            </td>
            <td>{% for vaccination in patient.medicalhistory.vaccination_set.all %}
                {{ vaccination.vaccination_name }}
                {% endfor %}
            </td>
            <td>{% for allergy in patient.medicalhistory.allergy_set.all %}
                {{ allergy.allergy_name }}
                {% endfor %}
            </td>
            <td>{% for medication in patient.medicalhistory.medication_set.all %}
                {{ medication.medication_name }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}